
<div *ngIf="dataLoaded==false" class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div> 


<table *ngIf="dataLoaded!=false" class ="table">

     <thead>
        <tr>
            <th>Araba ID</th>
            <th>Araba Modeli</th>
            <th>Markalar</th>
            <th>Renkler</th>
            <th>Günlük Ücret</th>
            <th>Model Yılı</th>
           
        </tr>

    </thead>

    <tr *ngFor ="let carDto of carDtos">
        <td>{{carDto.carId}}</td>
        <td>{{carDto.carName}}</td>
        <td>{{carDto.brandName}}</td>
        <td>{{carDto.colorName}}</td>
        <td>{{carDto.dailyPrice}}</td>
        <td>{{carDto.modelYear}}</td>

    </tr>


</table>

